<div>
  <%= render 'shared/header'  %>
  <%= render 'shared/search'  %>


  <div class="container" >
    <div class="box card power_generator-card">
      <%= image_tag @power_generator.image_url, class: 'power_generator-card__img' %>
      <div class="power_generator-card__body">
        <h2><%= @power_generator.name.upcase %></h2>
        <p class="power_generator-card__price">
          <%= number_to_currency(@power_generator.price, 
                                    unit: "R$ ", precision: 2, 
                                    :separator => ",", :delimiter => ".") %>
        </p>
        <p><strong>Tipo de Estrutura: </strong><%= t(@power_generator.structure_type) %></p>
        <p><strong>Fabricante: </strong><%= @power_generator.manufacturer %></p>
        <p><strong>Peso: </strong><%= @power_generator.description %></p>
        <p><strong>Descrição: </strong><%= @power_generator.description %></p>
      </div>
    </div>
  </div>

  <div class='freight-card'>
    <h3>Calcular Frete</h3>
    <%= form_with url: get_freight_power_generator_path, method: :get, id: 'freight-form', local: false  do |f| %>
      <%= f.label :cep, "CEP" %>
      <%= f.text_field :cep, placeholder: "00000-000", class: "form-control form-control-lg" %>
      <%= f.submit "Calcular", class: "btn btn-outline-primary btn-lg" %>
    <% end %>

    <div id="freight-cost">
      <%=  %>
    </div>
  </div>
</div>

